<VirtualHost *:80>
	ServerAdmin admin@example.com
	DocumentRoot "{{ drupal_dir }}"
	ServerName drupal.net
	ServerAlias localhost
	<Directory "{{ drupal_dir }}">
		Options FollowSymlinks
		AllowOverride All
		Require all granted
	</Directory>
	<Directory "{{ apache_root_dir }}">
		RewriteEngine on
		RewriteBase /
		RewriteCond %{REQUEST_FILENAME} !-f
		RewriteCond %{REQUEST_FILENAME} !-d
		RewriteRule ^(.*)$ index.php?q=$1 [L,QSA]
	</Directory>
</VirtualHost>
